{% extends "layout.html" %}
{% load static %}
{% block scripts %}
if (window.opener) {
window.opener.location.href ='/app/connected'; 
window.close();
}
function invoiceCall() {
$("#result").html('<div class="vd-loader"></div>');
$.get("/app/qbo_invoices", function (data) {
$("#result").html(prettyPrintJson.toHtml(JSON.parse(data)));
});
}
function exportVendCall() {
$("#result").html('<div class="vd-loader"></div>');
$.get("/app/post_vend_sales", function (data) {
$("#result").html(prettyPrintJson.toHtml(JSON.parse(data)));
});
}
{% endblock %}
{% block content %}
<section style="padding: 60px 0">
  <div class="container">
    <h4>Profit</h4>
    <p>Step 2: Make API calls between Vend and QBO...</p>
  </div>
</section>
<section class="bg-light vhq-pt-30 vhq-pb-30">
  <div class="container">
    <h4>Try out the integration</h4>
    <div class="row vhq-pl-0 no-gutters">
      <div class="col-12 col-md-3">
        <button onclick="invoiceCall()" class="btn btn-primary btn-block">Invoices API Call</button>
        <button onclick="exportVendCall()" class="btn btn-primary btn-block">Post Vend Sales</button>
      </div>
    </div>
  </div>
</section>
<section class="bg-light vhq-pt-30 vhq-pb-30">
  <div class="container">
    <pre id="result" style="overflow-wrap: break-word"></pre>
  </div>
</section>
<section style="padding: 30px 0"></section>
{% endblock %}
