{% load static %}
<html>
    <head>
        <title>Vend Prototype - Intuit</title>
        <link rel="stylesheet" type="text/css" media="screen"
            href="https://d30fzr2520l6g5.cloudfront.net/css/bootstrap4_vhq.4dbff494833d3cd5e748573207e70d19.min.css" />
        <style>
            .vd-loader {
                display: inline-block;
                align-self: center;
                width: 40px;
                height: 40px;
                border: 2px solid #41AF4B;
                border-left-color: transparent;
                border-radius: 50%;
                animation: vd-rotate 1s ease-in-out infinite;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-delay: 0s;
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
                animation-name: vd-rotate;
            }

            @keyframes vd-rotate {
                100% {
                   transform: rotate(360deg);
                }
            }
        </style>
        <link rel="stylesheet" href="{% static "pretty-print-json.css" %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            if (window.opener) {
                window.opener.location.href = '/app/connected'
                window.close()
            }

            function invoiceCall() {
                $("#result").html('<div class="vd-loader"></div>')
                $.get("/app/qbo_invoices", function (data) {
                    $("#result").html(prettyPrintJson.toHtml(JSON.parse(data)))
                })
            }

            function exportVendCall() {
                $("#result").html('Loading...')
                $.get("/app/post_vend_sales", function (data) {
                    $("#result").html(data)
                })
            }
        </script>
        <script src="//use.typekit.net/xdh7sbp.js" onload="try{Typekit.load();}catch(e){}" async></script>
        <script src="{% static "pretty-print-json.min.js" %}"></script>
    </head>

    <body>
        <header>
            <div class="vhq-top-bar">
                <div class="vhq-top-bar-content">
                    <ul class="vhq-top-bar-section">
                        <li class="vhq-top-bar-section-item vhq-top-bar-phone-specialist">
                            <p class="vhq-top-bar-info">Talk to a Retail Specialist</p>
                        </li>
                        <li class="vhq-top-bar-section-item">
                            <a class="vhq-top-bar-link vhq-top-bar-bold-link" href="tel:+1-844-814-5409">+1-844-814-5409</a>
                        </li>
                    </ul>
                    <ul class="vhq-top-bar-section">
                        <li class="vhq-top-bar-section-item">
                            <a class="vhq-top-bar-link" href="https://support.vendhq.com" target="_blank"
                                rel="noreferrer noopener nofollow">Help</a>
                        </li>
                        <li class="vhq-top-bar-section-item">
                            <a class="vhq-top-bar-link" href="https://www.vendhq.com/blog" target="_blank"
                                rel="noreferrer noopener nofollow">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="vhq-main-header">
                <div class="vhq-nav-container">
                    <div class="vhq-mobile-logo-container">
                        <div class="vhq-logo">
                            <a href="/"><img
                                    src="https://d30fzr2520l6g5.cloudfront.net/corp-images-optimised/homepage/vend-tag-logo.svg"
                                    alt="Vend HQ"></img></a>
                        </div>
                    </div>
                    <div class="vhq-mobile-nav-components">
                        <h3 style="line-height:1.8">Prototype Integration</h3>
                    </div>
                </div>
            </div>
        </header>

        <div id="main">
            <section style="padding: 60px 0">
                <div class="container">
                    <h4>Profit</h4>
                    <p>Step 2: Make API calls between Vend and QBO...</p>
                </div>
            </section>
            <section class="bg-light vhq-pt-30 vhq-pb-30">
                <div class="container">
                    <h4>Try out the integration</h4>
                    <div class="row vhq-pl-0 no-gutters">
                        <div class="col-12 col-md-3">
                            <button onclick="invoiceCall()"class="btn btn-primary btn-block">Invoices API Call</button>
                            <button onclick="exportVendCall()"class="btn btn-primary btn-block">Post Vend Sales</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-light vhq-pt-30 vhq-pb-30">
                <div class="container">
                    <pre id="result" style="overflow-wrap: break-word"></pre>
                </div>
            </section>
            <section style="padding: 30px 0"></section>
        </div>

        <div class="vhq-footer">
            <div class="vhq-footer-content">
                <div class="vhq-footer-column">
                    <div>
                        <p class="vhq-footer-title">Company
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/about-us">About Us</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/careers">Careers</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/media">Media</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/vend-brand-guidelines">Brand
                                Guidelines</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="https://www.vendhq.com/blog">Blog</a>
                        </div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/pos-security">Security</a></div>
                    </div>
                    <div>
                        <p class="vhq-footer-title">Help & Support
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/contact">Contact Us</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/contact-sales">Contact Sales</a>
                        </div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/help">Help Centre</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/faq">FAQs</a></div>
                    </div>
                </div>
                <div class="vhq-footer-column">
                    <div>
                        <p class="vhq-footer-title">Programs
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/partners/advisors">Advisor
                                Program</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/partners/resellers">Reseller
                                Program</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/partners/experts">Expert
                                Program</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/partners/developers">Developer
                                Program</a></div>
                    </div>
                    <div>
                        <p class="vhq-footer-title">Follow Us
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="https://www.vendhq.com/blog">Vend
                                Blog</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="https://twitter.com/vendhq">Twitter</a>
                        </div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="https://www.facebook.com/Vend.POS">Facebook</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="https://nz.linkedin.com/company/vendhq-com">LinkedIn</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="https://www.youtube.com/user/VendHQ">Youtube</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="https://www.instagram.com/vendhq/">Instagram</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="https://nz.pinterest.com/vendhq/">Pinterest</a></div>
                    </div>
                </div>
                <div class="vhq-footer-column">
                    <div>
                        <p class="vhq-footer-title">Retail Resources
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/pos-system-buyers-guide">POS
                                System Buyers Guide</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/excel-inventory-template">Inventory
                                Excel Template</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/retail-dictionary">Retail
                                Dictionary</a></div>
                    </div>
                    <div>
                        <p class="vhq-footer-title">The best of retail
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/ipad-pos">iPad POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/pos-system">POS System</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/multi-store-pos">Multi Store
                                POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/epos-software">EPOS Software</a>
                        </div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/tour/ecommerce-solutions">POS
                                Ecommerce</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/online-cash-register-software">POS
                                Cash Register</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/epos-system">EPOS System</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/scanner">POS Barcode Scanner</a>
                        </div>
                    </div>
                </div>
                <div class="vhq-footer-column">
                    <div>
                        <p class="vhq-footer-title">Business Types
                            <svg class="vhq-footer-expand-arrow" id="Layer_1" data-name="Layer 1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 5.48">
                                <title>chevron10x6</title>
                                <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#5F7887"
                                    stroke-width="1.5" />
                            </svg>
                        </p>
                    </div>
                    <div class="vhq-footer-dropdown">
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="/examples/computer-and-electronic-pos">Electronics & Computer POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/examples/fashion-boutique-pos">Fashion
                                Boutique POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="/examples/health-and-supplement-stores-pos">Fitness & Supplements POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="/examples/health-and-beauty-retail-pos">Health & Beauty POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="/examples/homeware-and-gift-shop-pos">Homeware & Gifts POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="/examples/sports-and-outdoors-pos">Sport & Outdoor POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link" href="/small-business-pos">Small Business
                                POS</a></div>
                        <div class="vhq-footer-sublink"><a class="vhq-footer-link"
                                href="/examples/non-profits-pos">Not-for-profit</a></div>
                    </div>
                </div>
                <div class="vhq-footer-column vhq-footer-column-region">
                    <p class="vhq-footer-column-region-title">Region</p>
                    <div>
                        <div class="vhq-footer-country-switcher">
                            <!-- Dropdown -->
                            <div class="vhq-dropdown-selector js-vhq-dropdown-selector">
                                <div
                                    class="vhq-dropdown-selector-current js-vhq-dropdown-selector-current vhq-dropdown-flag-row">
                                    <span class="vhq-dropdown-selector-current-text">
                                        USA / Global </span>
                                    <span class="vhq-dropdown-selector-current-arrow"><svg height="10px" width="10px"
                                            id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 8.84 5.48">
                                            <title>chevron10x6</title>
                                            <polyline points="0.53 0.53 4.42 4.42 8.31 0.53" fill="none" stroke="#fff"
                                                stroke-width="1.5" />
                                        </svg></span>
                                </div>
                                <ul class="vhq-dropdown-selector-list js-vhq-dropdown-selector-list">
                                    <li class="vhq-dropdown-selector-item">
                                        <a href="/" class="vhq-dropdown-flag vhq-dropdown-flag-row">USA / Global</a>
                                    </li>
                                    <li class="vhq-dropdown-selector-item">
                                        <a href="/uk/" class="vhq-dropdown-flag vhq-dropdown-flag-uk">United Kingdom</a>
                                    </li>
                                    <li class="vhq-dropdown-selector-item">
                                        <a href="/au/" class="vhq-dropdown-flag vhq-dropdown-flag-au">Australia</a>
                                    </li>
                                    <li class="vhq-dropdown-selector-item">
                                        <a href="/nz/" class="vhq-dropdown-flag vhq-dropdown-flag-nz">New Zealand</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="vhq-address">
                            C/O Covo, <br>
                            981 Mission Street <br>
                            San Francisco <br>
                            CA 94103 <br>
                            USA </div>
                        <div class="vhq-footer-button-wrapper">
                            <a class="vhq-navigation-button vhq-footer-button" href="/contact-sales">Talk to us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vhq-footer-bottom-bar">
                <div class="vhq-footer-bottom-bar-content">
                    <a class="vhq-bottom-link" href="/terms-of-use">Terms of Use</a>
                    <a class="vhq-bottom-link" href="/privacy-policy">Privacy Policy</a>
                    <a class="vhq-bottom-link" href="/sitemap">Site Map</a>
                    <div class="vhq-copyright-text">&copy; 2019 Vend&trade; Limited</div>
                </div>
            </div>
        </div>
    </body>
</html>