{% extends "layout.html" %} {% load static %} {% block content %}
<section style="padding: 60px 0">
  <div class="container">
    <h4>Setup</h4>
    <p>Step 1: link Vend to QuickBooks Online...</p>
  </div>
</section>
<section class="bg-light vhq-pt-30 vhq-pb-30">
  <div class="container">
    <h4>Connect to QuickBooks Online</h4>
    <a class="imgLink" href="/app/oauth/">
      <img style="height: 40px" src="{% static 'C2QB_white_btn_lg_default.png' %}" />
    </a>
  </div>
</section>
<section style="padding: 30px 0"></section>
{% endblock %}
